@import 'lms/static/sass/partials/base/variables';

// Theming overrides for sample theme
$header-bg: rgb(225,241,247);
$footer-bg: rgb(225,241,247);
$container-bg: rgb(241,241,241);
$content-wrapper-bg: rgb(241,241,241);
$serif: 'Comic Sans', 'Comic Sans MS';
$sans-serif: 'Comic Sans', 'Comic Sans MS';
$homepage-bg-image: url("../images/uoabanner.jpg");
$background-image: url("../images/uoabanner.jpg");