<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>

   <p>Associate Professor Don Sheridan <br/>-- Email: d.sheridan@auckland.ac.nz</p>
	<p>Associate Professor Lesley Ann Gardner <br/>-- Email: l.gardner@auckland.ac.nz</p>
	<p>Mr. Andy Nguyen <br/>-- Email: a.nguyen@auckland.ac.nz</p>
    </section>
</main>
